[alias]
	st = status
	sts = status -s
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	com = commit	
	ps = push
	pl = pull
	sta = stash
	stp = "!f() { git stash pop stash@{$1}; }; f"
	br = branch
	co = checkout
